@import '../../sass/variables';

:host {
    display: block;
    width: 100%;
    height: 100%;
    background-color: map-get($colors, dark);
    overflow-x: hidden;
    overflow-y: auto;
}

h1 {
    padding: 0 .75rem 1.25rem;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #363636;
    height: 80px;
    line-height: 80px;
    margin-bottom: 0;
}

.list-group-item {
    
    background-color: map-get($colors, dark);
    color: #ffffff;
    border-radius: 0;
    border-right: none;
    border-left: 3px solid transparent;

    &.active {
        background-color: map-get($colors, secondary);
        border: none;
        color: map-get($colors, dark);
    }

    &:hover:not(.active) {
        border-left: 3px solid map-get($colors, secondary-hover);
    }

    .info {

        display: flex;
        align-items: center;

        .avatar {
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            border-radius: 100%;
            margin-right: .5rem;
        }

        .text {
            
            flex-grow: 1;

            h3 {

                font-size: 15px;
                padding: 0;
                margin: 0;
            }

            p {
                font-size: 13px;
                margin: 0
            }
        }

        .time {

            p {
                font-size: 12px;
                margin: 0
            }

            .badge {
                background-color: map-get($colors, primary);
            }
        }
    }
}