<h1>Conversas</h1>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    <div class="info">
      <div class="avatar">
        <img src="" alt="">
      </div>
      <div class="text">
        <h3>Nome do contato</h3>
        <p>Última mensagem</p>
      </div>
      <div class="time">
        <p>15:33</p>
        <span class="badge badge-primary badge-pill">14</span>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="info">
      <div class="avatar">
        <img src="" alt="">
      </div>
      <div class="text">
        <h3>Nome do contato</h3>
        <p>Última mensagem</p>
      </div>
      <div class="time">
        <p>15:33</p>
        <span class="badge badge-primary badge-pill">14</span>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="info">
      <div class="avatar">
        <img src="" alt="">
      </div>
      <div class="text">
        <h3>Nome do contato</h3>
        <p>Última mensagem</p>
      </div>
      <div class="time">
        <p>15:33</p>
        <span class="badge badge-primary badge-pill">14</span>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="info">
      <div class="avatar">
        <img src="" alt="">
      </div>
      <div class="text">
        <h3>Nome do contato</h3>
        <p>Última mensagem</p>
      </div>
      <div class="time">
        <p>15:33</p>
        <span class="badge badge-primary badge-pill">14</span>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="info">
      <div class="avatar">
        <img src="" alt="">
      </div>
      <div class="text">
        <h3>Nome do contato</h3>
        <p>Última mensagem</p>
      </div>
      <div class="time">
        <p>15:33</p>
        <span class="badge badge-primary badge-pill">14</span>
      </div>
    </div>
  </a>
</div>