<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "large"
  color = "#fff"
  type = "line-scale"
></ngx-spinner>
<div class="container align-content-center h-100">
  <div id="content" class="row">
    <div class="col-4 p-0">
      <div id="chats">
        <h1>Conversas</h1>
        <div class="list-group">
          <a *ngFor="let contact of contacts" href="#" class="list-group-item list-group-item-action" (click)="openBody(contact, messageBody)">
            <div class="info">
              <div class="avatar">
                <img src="{{ avatar || 'assets/images/avatar_logo.png'}}" alt="">
              </div>
              <div class="text">
                <h3>{{ (contact.user == contact.output) ? contact.input : contact.output }}</h3>
                <p>{{ contact.description }}</p>
              </div>
              <div class="time">
                <p>{{ time }}</p>
                <span class="badge badge-primary badge-pill">{{ contact.unread }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-8 p-0">
        <div id="messages" class="card h-100">
            <div class="card-header">
                <div class="avatar">
                  <img *ngIf="contact.id" src="{{ avatar || 'assets/images/avatar_logo.png'}}" alt="">
                </div>
                <div class="text">
                  <h4 class="title">{{ (contact.user == contact.output) ? contact.input : contact.output }}</h4>
                  <p>{{ contact.description }}</p>
                </div>
            </div>
            <div #messageBody id="chat-body" class="card-body">
                <ul #listMessage id="list-messages">
                  <li *ngFor="let message of contact.messages" [ngClass]="(contact.user == message.user_username) ? 'message-out' : 'message-in'" class="message">
                      <p class="text">{{ message.content }}</p>
                      <p class="time-send">{{ message.timesend.date | date: 'dd/MM/y hh:mm'}}</p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="input-group mb-3">
                    <textarea [(ngModel)]="formMessage" id="message-area" class="form-control"></textarea>
                    <div class="input-group-append">
                        <button *ngIf="send; else btnSend" class="btn btn-outline-secondary btn-disabled" type="button" id="button-send">Enviando...</button>
                        <ng-template #btnSend>
                            <button class="btn btn-outline-secondary" type="button" id="button-send" (click)="sendMessage()">Enviar</button>
                        </ng-template>
                    </div>
                  </div>
            </div>            
        </div>
    </div>
  </div>
</div>