@import '../sass/variables';

:host {
    
    .container {

        display: flex;
        align-items: center;

        #content {
            width: 100%;
            height: 85vh;
            border: 1px solid map-get($colors, light);
        }
    }

}

#chats {

    display: block;
    width: 100%;
    height: 100%;
    background-color: map-get($colors, dark);
    overflow-x: hidden;
    overflow-y: auto;

    h1 {
        padding: 0 .75rem 1.25rem;
        color: #ffffff;
        font-size: 2rem;
        text-align: center;
        border-bottom: 1px solid #363636;
        height: 80px;
        line-height: 80px;
        margin-bottom: 0;
    }

    .list-group-item {
        
        background-color: map-get($colors, dark);
        color: #ffffff;
        border-radius: 0;
        border-right: none;
        border-left: 3px solid transparent;

        &.active {
            background-color: map-get($colors, secondary);
            border: none;
            color: map-get($colors, dark);
        }

        &:hover:not(.active) {
            border-left: 3px solid map-get($colors, secondary-hover);
        }

        .info {

            display: flex;
            align-items: center;

            .avatar {
                width: 40px;
                height: 40px;
                overflow: hidden;
                background-color: #ffffff;
                border-radius: 100%;
                margin-right: .5rem;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .text {
                
                flex-grow: 1;

                h3 {

                    font-size: 15px;
                    padding: 0;
                    margin: 0;
                }

                p {
                    font-size: 13px;
                    margin: 0
                }
            }

            .time {

                p {
                    font-size: 12px;
                    margin: 0
                }

                .badge {
                    background-color: map-get($colors, primary);
                }
            }
        }
    }
}

#messages {

    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    .card-header {

        display: flex;
        align-content: center;
        height: 80px;
    
        .avatar {
            
            width: 55px;
            height: 55px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 1rem;
    
            img {
                max-width: 100%;
                height: auto;
            }
        }
    
        .text {
            .title,p {
                margin: 0
            }
        }
    }

    .card-body {
        
        height: 500px;

        overflow: hidden;
        overflow-y: scroll;
    
        #list-messages {
    
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;
        
            display: flex;
    
            li.message {
    
                min-width: 1px;
                max-width: 40%;
                padding: 10px;
                margin-bottom: 10px;
    
                p {
                    margin: 0;
    
                    &.text {
                        margin-bottom: .2rem
                    }
                }
    
                .time-send {
                    color: map-get($colors, dark);
                    font-size: .6rem;
                }
            }
            
            li.message-in {
            
                align-self: flex-start;
                margin-right: auto;
                background-color: map-get($colors,secondary);
                border-radius: 8px 8px 8px 0;
            }
            
            li.message-out {
                align-self: flex-end;
                margin-left: auto;
                border-radius: 8px 8px 0 8px;
                background-color: map-get($colors, primary);
                color: #ffffff;
                .time-send {
                    color: #ffffff;
                }
                
            }
    
        }
    
    }

    #message-area {
        min-height: 50px;
        max-height: 90px;
        overflow: hidden;
        resize: none;
        padding: 0;
    }
}    

